@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  .main-container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .main-container::-webkit-scrollbar {
    display: none;
  }

  .snap-section {
    scroll-snap-align: start;
  }

  .footer-section {
    scroll-snap-align: start;
    min-height: min-content !important;
  }

  :root {
    --background: 0 0% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 45 74% 52%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 94%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 45 65% 68%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 45 74% 52%;
    --radius: 0.5rem;
    --chart-1: 45 74% 52%;
    --chart-2: 45 65% 68%;
    --chart-3: 45 50% 60%;
    --chart-4: 45 40% 70%;
    --chart-5: 45 30% 80%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 45 74% 52%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 0 0% 96.1%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 45 74% 52%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 74% 52%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 45 65% 68%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 45 74% 52%;
    --chart-1: 45 74% 52%;
    --chart-2: 45 65% 68%;
    --chart-3: 45 50% 60%;
    --chart-4: 45 40% 70%;
    --chart-5: 45 30% 80%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 45 74% 52%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 45 74% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
